// main button
.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.125rem;
  cursor: pointer;
  border: 0.0625rem solid var(--primary-color);
}

//variants
.btn-light {
  color: var(--primary-color);
  background-color: #fff;
  border: 0.0625rem solid var(--primary-color);
  padding: 0.625rem 1.25rem;
  border-radius: 0.125rem;
}

.btn-dark {
  color: #fff;
  border: 0.0625rem solid var(--primary-color);
  padding: 0.625rem 1.25rem;
  border-radius: 0.125rem;
  background-color: black;
}
