.container {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
}

.introSection {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 0.7rem;
}

.center-align {
  display: flex;
  align-items: center;
}

.first {
  color: var(--text-color-dark);
}

.second {
  background-color: var(--text-bg-title-lightgreen);
  color: var(--primary-color);
  border-radius: 2px;
  padding: 0 10px;
}

a {
  text-decoration: none;
}
