.container {
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
}

.introSection {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 0.7rem;
}

.center-align {
  display: flex;
  align-items: center;
}

// headings
//first part

.first {
  color: var(--text-color-dark);
}

.second {
  background-color: #d5e7e8;
  color: var(--primary-color);
  border-radius: 2px;
  margin-left: 10px;
}
