.center-align {
  display: flex;
  align-items: center;
}

// headings
//first part

.first {
  color: var(--text-color-dark);
}

.second {
  background-color: #d5e7e8;
  color: var(--primary-color);
  border-radius: 2px;
  margin-left: 10px;
}
