// import font
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;500;800&display=swap");

body {
  font-family: "Libre Franklin", sans-serif;
}

.light-text {
  font-weight: 100;
  color: var(--text-color-light);
}
