:root {
  // colors
  --primary-color: #058283;
  --secondary-color: #111117;
  --text-color-light: #aeb1bd;
  --text-color-dark: #21333e;
  --text-bg-title-green: #0e272d;
  --text-bg-title-lightgreen: #d5e7e8;
  // margins
  --margin-small: 1.25rem;
  // -------------------------------------
  --margin: 2.5rem;
  // -------------------------------------
  --margin-big: 5rem;

  // padding
  --padding-small: 1.25rem;
  // -------------------------------------
  --padding: 2.5rem;
  // -------------------------------------
  --padding-big: 5rem;

  //container
  --container: 71.875rem;
}
