:root {
  // colors
  --primary-color: #058283;
  --secondary-color: #111117;
  --text-color-light: #c0c3d0;
  --text-color-dark: #21333e;
  // margins
  --margin-left: 40px;
  --margin-right: 40px;
  --margin-top: 40px;
  --margin-bottom: 40px;

  //container
  --container: 1150px;
}
