:root {
  // colors
  --primary-color: #058283;
  --secondary-color: #111117;
  --text-color-light: #aeb1bd;
  --text-color-dark: #21333e;
  --text-bg-title-green: #0e272d;
  --text-bg-title-lightgreen: #d5e7e8;
  // margins
  --margin-left: 40px;
  --margin-right: 40px;
  --margin-top: 40px;
  --margin-bottom: 40px;
  // -------------------------------------
  --margin-big-left: 80px;
  --margin-big-right: 80px;
  --margin-big-top: 80px;
  --margin-big-bottom: 80px;

  // padding
  --padding-left: 40px;
  --padding-right: 40px;
  --padding-top: 40px;
  --padding-bottom: 40px;
  // -------------------------------------
  --padding-big-left: 80px;
  --padding-big-right: 80px;
  --padding-big-top: 80px;
  --padding-big-bottom: 80px;

  //container
  --container: 1150px;
}
